<%- include('../includes/header') -%>
    <div id="main">
        <div class="page-content">
            <div class="page-heading">
                <h3>Inbox Statistics</h3>
            </div>
            <section class="row">
                <div class="col-12 col-lg-12">
                    <%- include('../includes/message') %>
                        <section class="section Transactions_table">
                            <div class="card">
                                <div class="card-body">
                                    <h3>News </h3>
                                    <div class="row">
                                        <div class="col-lg-6 ">
                                            <div class="card">
                                                <select class="choices form-select">
                                            <option value="square">Square</option>
                                            <option value="rectangle">Rectangle</option>
                                            <option value="rombo">Rombo</option>
                                            <option value="romboid">Romboid</option>
                                            <option value="trapeze">Trapeze</option>
                                            <option value="traible">Triangle</option>
                                            <option value="polygon">Polygon</option>
                                        </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 ">
                                            <div class="bage_wraper">
                                                <button type="button" class="btn btn-success btn-icon icon-left"> <i class="fas fa-plane"></i> Total <span class="badge bg-transparent">13</span> </button>
                                                <button type="button" class="btn btn-primary btn-icon icon-left"> <i class="fas fa-plane"></i> Amatic <span class="badge bg-transparent">7</span> </button>
                                                <button type="button" class="btn btn-primary btn-icon icon-left"> <i class="fas fa-plane"></i> Bomba <span class="badge bg-transparent">0</span> </button>
                                                <button type="button" class="btn btn-primary btn-icon icon-left"> <i class="fas fa-plane"></i> Novo <span class="badge bg-transparent">0</span> </button>
                                                <button type="button" class="btn btn-primary btn-icon icon-left"> <i class="fas fa-plane"></i> Netent <span class="badge bg-transparent">1</span> </button>
                                                <button type="button" class="btn btn-primary btn-icon icon-left"> <i class="fas fa-plane"></i> Egt <span class="badge bg-transparent">0</span> </button>
                                                <button type="button" class="btn btn-primary btn-icon icon-left"> <i class="fas fa-plane"></i> Wazdan <span class="badge bg-transparent">1</span> </button>
                                                <button type="button" class="btn btn-primary btn-icon icon-left"> <i class="fas fa-plane"></i> Racing <span class="badge bg-transparent">0</span> </button>
                                                <button type="button" class="btn btn-primary btn-icon icon-left"> <i class="fas fa-plane"></i> Pra <span class="badge bg-transparent">2</span> </button>
                                                <button type="button" class="btn btn-primary btn-icon icon-left"> <i class="fas fa-plane"></i> Ari <span class="badge bg-transparent">1</span> </button>
                                                <button type="button" class="btn btn-primary btn-icon icon-left"> <i class="fas fa-plane"></i> Fish <span class="badge bg-transparent">0</span> </button>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-striped" id="table1">
                                        <thead>
                                            <tr>
                                                <th> # </th>
                                                <th>Title</th>
                                                <th> From</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                            </tr>
                                    </table>
                                </div>
                            </div>
                        </section>
                </div>
        </div>
        </section>
    </div>
    <%- include('../includes/footer') -%>